module EarthMapper
  include Ramaze::Optioned

  options.dsl do
    o 'The base application URL', :myurl, 'http://localhost:7000/'
    o 'Cache path', :cachedir, '/some/directory/.earthmapper/cache/'
    o 'Backend list', :backends, [ { :name =>  'france',
                                     :description => 'France' } ]
  end
end
